<!DOCTYPE html>
<html>
<head>
  <title>RSI Pune</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style type="text/css">
    body
    {
      background-color: black;
    }
    .mybutton
    {
      margin-left: 32px;
      margin-top:20px;
    }
    .mylogin
    {
      padding-right: 20%;
      padding-left: 20%;
    }
    .mypad
    {
      padding-left: 20%;
      padding-right: 20%;
    }
    .color {
      background-color: black;
      color: goldenrod;
      border: none;
    }
    @media screen and (max-width: 800px) {
  .mypad{
       padding-left: 10%;
       padding-right: 10%;
       width: 100%;
  }
  .mylogin {
    padding: 0;
  }
}
  </style>
</head>
<body>
<div class="container-fluid">
<div class="row mylogin">
  <div class="mypad">
    <img  class="img-responsive" src="./rsi.png" />
  </div>
</div>
</div>
<div class="container-fluid">
<div class="row mylogin">
        <div class="mypad">
        <div class="mylogin" id="loginModal">
              <div class="modal-body">
                <div class="well color">
                  <div id="myTabContent" class="tab-content color">
                    <div class="tab-pane active in" id="login">
                      <form class="form-horizontal" action='/changePasswordVerify' method="POST">
                        <fieldset>   
                          <div class="control-group">
                            <div style="font-size: 13px; color: red; font-weight: bolder;">{{messages}}</div>
                            <label class="control-label"  for="username">New Password</label>
                            <input type="password" style="background-color:black; border-color: goldenrod;color:goldenrod;" class="form-control" name="newPass">
                          </div>    
                          <div class="control-group">
                            <label class="control-label" for="password">Confirm Password</label>
                            <input type="password" style="background-color:black; border-color: goldenrod;color:goldenrod;" class="form-control" name="cnfmPass">
                          </div>
                          <div class="control-group">
                            <div class="controls">
                              <button class="btn btn-success mybutton" style="background-color:goldenrod;border-color:goldenrod;color:black;">SUBMIT</button>
                            </div>
                          </div>
                        </fieldset>
                      </form>                
                    </div>
                </div>
              </div>
            </div>
        </div>
</div>
</div>
</div>
</body>
</html>